@using RentACarProjectDemo.Models.Entity
@model List<Motorcycles>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="color:white">Motorlar</h2>
<body style="background-color:white">
</body>
<table class="table users-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marka</th>
            <th scope="col">Renk</th>
            <th scope="col">Model</th>
            <th scope="col">Araç Tipi</th>
            <th scope="col">Vites</th>
            <th scope="col">Benzin Türü</th>
            <th scope="col">Model Yılı</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var motorcycle in Model)
            {
            <tr>
                <td>@motorcycle.MotorcycleId</td>
                <td>@motorcycle.Brands.BrandName</td>
                <td>@motorcycle.Colors.ColorName</td>
                <td>@motorcycle.Models.ModelName</td>
                <td>@motorcycle.BodyTypes.BodyType</td>
                <td>@motorcycle.Gears.Gear</td>
                <td>@motorcycle.FuelTypes.FuelType</td>
                <td>@motorcycle.ModelYear</td>
                <td>@motorcycle.Decription</td>
                <td>@Html.ActionLink("Sil", "DeleteMotorcycle", new { id = motorcycle.MotorcycleId }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('Silmek istiyor musunuz ? ')" }) </td>
                <td><a href="/Motorcycle/GetMotorcycle/@motorcycle.MotorcycleId" class="btn btn-sm btn-success">Güncelle</a></td>

            </tr>
        }

        </tbody>

    </table>

    <a href="/Motorcycle/AddMotorcycle" class="btn btn-sm btn-primary">Yeni Motor Ekle</a>