<!DOCTYPE html>
<html lang="en">
<head>

     <title>SET CAR</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
     <script src="https://kit.fontawesome.com/9d4bc0dc18.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <div class="navbar-header">
                         <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                         </button>
     
                         <!-- lOGO TEXT HERE -->
                         
                         <img src="images/logo.jpeg" style="width: 70px; height:70px; margin-right: 40px; " alt="logo">
                    </div>
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li class="active"><a href="/">Anasayfa</a></li>
                         <li><a href="/cars">Arabalar</a></li>
                         <li><a href="/motorcycle">Motorlar</a></li>
                         <li><a href="/spareparts">Yedek Parçalar</a></li>
                         <li><a href="/accessory">Aksesuarlar</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hakkında<span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   <li><a href="/blog-posts">Blog</a></li>
                                   <li><a href="/about-us">Hakkımızda</a></li>
                                   <li><a href="/team">Takım</a></li>
                                   <li><a href="/testimonials">Referanslar</a></li>
                                   <li><a href="/terms">Şartlar</a></li>
                              </ul>
                         </li>
                         <li class="collapse"><a href="contact-us">İletişim</a></li>
                         <li class="button_header" id="button-header2" >
                              <button class="btn-homepage "><i href="" class="fa-solid fa-basket-shopping fa-2xl" style="color:#fff; margin-right: 10px;"></i> <a href="/cart">Sepetim</a> </button>
                              <button class="btn-homepage"> <a href="/login">Giriş Yap</a> </button>
                         </li>
                    </ul>
               </div>

          </div>
          
     </section>
<body>
    <%-body  %> 
</body>
<!-- FOOTER -->
<footer id="footer">
  <div class="container">
       <div class="row">

            <div class="col-md-4 col-sm-6">
                 <div class="footer-info">
                      <div class="section-title">
                           <h2>Adres</h2>
                      </div>
                      <address>
                           <p>Fırat Üniversitesi <br>Merkez, Elazığ</p>
                      </address>

                      <ul class="social-icon">
                           <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                           <li><a href="#" class="fa fa-twitter"></a></li>
                           <li><a href="#" class="fa fa-instagram"></a></li>
                      </ul>

                      <div class="copyright-text"> 
                           <p>Copyright &copy; 2022 SETCAR</p>
                      </div>
                 </div>
            </div>

            <div class="col-md-4 col-sm-6">
                 <div class="footer-info">
                      <div class="section-title">
                           <h2>İletişim Bilgileri</h2>
                      </div>
                      <address>
                           <p>+905394609069</p>
                           <p><a href="mailto:contact@company.com">contact@setcar.com</a></p>
                      </address>

                      <div class="footer_menu">
                           <h2>Hızlı Linkler</h2>
                           <ul>
                                <li><a href="index.html">Anasayfa</a></li>
                                <li><a href="about-us.html">Hakkımızda</a></li>
                                <li><a href="terms.html">Şartlar ve Koşullar</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                           </ul>
                      </div>
                 </div>
            </div>

            <div class="col-md-4 col-sm-12">
                 <div class="footer-info newsletter-form">
                      <div class="section-title">
                           <h2>Bültene Üye Ol</h2>
                      </div>
                      <div>
                           <div class="form-group">
                                <form action="#" method="get">
                                     <input type="email" class="form-control" placeholder="E-mailinizi giriniz" name="email" id="email" required>
                                     <input type="submit" class="form-control" name="submit" id="form-submit" value="Bana Gönderin">
                                </form>
                                
                           </div>
                      </div>
                 </div>
            </div>
            
       </div>
  </div>
</footer>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>