<form action="/admin-add-sparePartsPost" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">
        <label>Parça Adı</label>
        <br>
        <input type="text" name="partName">
    </div>
    <div style="margin-top:15px">
        <label>Birim Fiyatı</label>
        <br>
        <input type="text" name="unitPrice">
    </div>
    <div style="margin-top:15px">
        <label>Stoktaki Ürün Adedi</label>
        <br>
        <input type="text" name="unitInStock">
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Yedek Parça Ekle</button>
    </div>
</form>