<section>
    <div class="container">
         <div class="text-center">
              <h1>Aksesuarlar</h1>

              <br>

              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, alias.</p>
         </div>
    </div>
</section>

<section class="section-background">
    <div class="container">
         <div class="row">
              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/arai-tour-x4-kask-cover-blue-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Arai Tour-X4 Kask Cover Blue Metal</a></h3>
                             <p class="lead"><strong>15.774,17 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/arai-tour-x4-kask-depart-gun-metal-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Arai Tour-X4 Kask Depart Gun Metal</a></h3>
                             <p class="lead"><strong>15.774,17 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/dainese-bora-air-tekstil-mont-siyah-gri-sari-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Dainese Bora Air Tekstil Mont Siyah Gri Sarı</a></h3>
                             <p class="lead"><strong>4.156,83 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/dainese-levante-air-tekstil-mont-siyah-gri-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 4</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Dainese Levante Air Tekstil Mont Siyah Gri</a></h3>
                             <p class="lead"><strong>4.156,83 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/dainese-fogal-unisex-yazlik-eldiven-siyah-kirmizi-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 2</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 2</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 2</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> M</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Dainese Fogal Unisex Yazlık Eldiven Kırmızı</a></h3>
                             <p class="lead"><strong>1.615,54 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/dainese-fogal-unisex-yazlik-eldiven-siyah-siyah-1_min.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">Dainese Fogal Unisex Yazlık Eldiven Siyah</a></h3>
                             <p class="lead"><strong>1.615,54 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/Aksesuar1.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">BoostZone 3524 Opel Astra J 3D Havuzlu Paspas Seti</a></h3>
                             <p class="lead"><strong>188,23 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/Aksesuar2.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">75NVN503-H Volkswagen Scirocco 8</a></h3>
                             <p class="lead"><strong>2.890 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/Aksesuar3.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="/accessory">BoostZone 1235 Bmw Karbon Logo 7.3 x 7.3 Gümüş Mavi</a></h3>
                             <p class="lead"><strong>38,03 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
