    <section>
        <div class="container">
             <div class="text-center">
                  <h1>Bize Ulaşın</h1>

                  <br>

                  <p class="lead">Düşünceleriniz ve istekleriniz bizim için önemlidir. <br>
                       <span style="color: red;">SET CAR AİLESİ</span></p>
             </div>
        </div>
   </section>
     <!-- CONTACT -->
     <section id="contact">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-12">
                       <form id="contact-form" role="form" action="" method="post">
                            <div class="col-md-12 col-sm-12">
                                 <input type="text" class="form-control" placeholder="İsim ve Soyisim" name="name" required>
                  
                                 <input type="email" class="form-control" placeholder="E-mail" name="email" required>

                                 <textarea class="form-control" rows="6" placeholder="Bize mesajınızdan bahsediniz..." name="message" required></textarea>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                 <input type="submit" class="form-control" name="send message" value="Mesaj Gönder">
                            </div>

                       </form>
                  </div>

                  <div class="col-md-6 col-sm-12">
                       <div class="contact-image">
                            <img src="images/contact-1-600x400.jpg" class="img-responsive" alt="">
                       </div>
                  </div>

             </div>
        </div>
   </section>       