<!DOCTYPE html>
<html lang="tr">
<head>
  
  <script src="https://kit.fontawesome.com/9d4bc0dc18.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="tasarim1.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT A CAR</title>
    
</head>
<body>
<div class="header">
  <div class="buton-header"id="buton-header1">
    <h1 id="ust">SETCAR</h1>
    
    <button class="btn-homepage" id="btn-anasayfa">Anasayfa</button>
    

  </div>

  <div class="buton-header" id="buton-header2">
    <button class="btn-homepage"><i class="fa-solid fa-basket-shopping fa-2xl" style="color:#fff; margin-right: 10px;"></i>Sepetim</button>
    <button class="btn-homepage">Giriş Yap</button>

  </div>

</div>
<body>
    <%-body  %> 
</body>
<div class="footer">

</div>