<!DOCTYPE html>
<html lang="tr">
<head>
  
  <script src="https://kit.fontawesome.com/9d4bc0dc18.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="tasarim.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT A CAR</title>
    
</head>

    <form action="/login-post" method="post" class="user">
      <div class="login-box">
        <h1 class="login-text"><strong>SETCAR</strong></h1>
        <center>
        <input name="username" placeholder="Kullanıcı Adı">
        <input name="password" placeholder="Şifre">
  
        <button id="btn-login">GİRİŞ YAP</button>
        <button id="btn-forgot">Henüz Kayıt Olmadın Mı? <a href="uyeliksayfası">Hemen Üye Ol!</a></button>
        </center>
      </div>
    </form>

</body>
</html>