<section>
    <div class="container">
         <div class="text-center">
              <h1>Motorlar</h1>

              <br>

              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, alias.</p>
         </div>
    </div>
</section>

<section class="section-background">
    <div class="container">
         <div class="row">
              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor1.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Büyük: Premium</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor2.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Büyük: Harley</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor3.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Orta: Düşük Emisyon</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor4.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 4</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Küçük: Ekonomik</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor5.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 2</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 2</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 2</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> M</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Küçük: Mini</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor6.1.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Büyük: Premium</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor1.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Büyük: Premium</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor2.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Büyük: Harley</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="images/motor3.jpg" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="cars.html">Orta: Düşük Emisyon</a></h3>
                             <p class="lead"><strong>120 TL</strong> <small>'den başlayan fiyatlarla</small> </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Şimdi Rezervasyon Yap</button>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

<div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
              <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title" id="gridSystemModalLabel">Şimdi Rezervasyon Yap</h4>
              </div>
              
              <div class="modal-body">
                   <form action="#" id="contact-form">
                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Alış Lokasyonu" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Dönüş Lokasyonu" required>
                             </div>
                        </div>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Alış tarihi/saati" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Dönüş tarihi/saati" required>
                             </div>
                        </div>
                        <input type="text" class="form-control" placeholder="İsim ve Soyisim " required>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Email" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Telefon Numarası" required>
                             </div>
                        </div>
                   </form>
              </div>

              <div class="modal-footer">
                   <button type="button" class="section-btn btn btn-primary">Şimdi Rezervasyon Yap</button>
              </div>
         </div>
    </div>
</div>