<form action="/admin-add-motorcyclePost" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">
        <label>Marka</label>
        <br>
        <input type="text" name="brand">
    </div>
    <div style="margin-top:15px">
        <label>Model</label>
        <br>
        <input type="text" name="model">
    </div>
    <div style="margin-top:15px">
        <label>Satış fiyatı</label>
        <br>
        <input type="text" name="salePrice">
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Motorsiklet Ekle</button>
    </div>
</form>