<form action="/admin-get-motorcyclePost/<%- content.id  %>" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">

        <label>Marka</label>
        <br>
        <input type="text" name="brand" value="<%- content.brand  %>">

    </div>


    <div style="margin-top:15px">

        <label>Model</label>
        <br>
        <input type="text" name="model" value="<%- content.model  %>">

    </div>

    <div style="margin-top:15px">

        <label>Satış Fiyatı</label>
        <br>
        <input type="text" name="salePrice" value="<%- content.salePrice  %> ">
        
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Motorsiklet Güncelle</button>
    </div>
</form>