<form action="/admin-add-userPost" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">
        <label>Kullanıcı Adı</label>
        <br>
        <input type="text" name="username">
    </div>
    <div style="margin-top:15px">
        <label>Ad Soyad</label>
        <br>
        <input type="text" name="full_name">
    </div>
    <div style="margin-top:15px">
        <label>Mail</label>
        <br>
        <input type="email" name="email">
    </div>
    <div style="margin-top:15px">
        <label>Avatar</label>
        <br>
        <input type="text" name="avatar">
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Kullanıcı Ekle</button>
    </div>
</form>