<form action="/admin-add-accessoryPost" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">
        <label>Aksesuar Adı</label>
        <br>
        <input type="text" name="accessoryName">
    </div>
    <div style="margin-top:15px">
        <label>Birim Fiyatı</label>
        <br>
        <input type="text" name="unitPrice">
    </div>
    <div style="margin-top:15px">
        <label>Stoktaki Ürün Adedi</label>
        <br>
        <input type="text" name="unitInStock">
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Aksesuar Ekle</button>
    </div>
</form>