<form action="/admin-get-accessoryPost/<%- content.id  %>" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">

        <label>Aksesuar Adı</label>
        <br>
        <input type="text" name="accessoryName" value="<%- content.accessoryName  %>">

    </div>


    <div style="margin-top:15px">

        <label>Satış Fiyatı</label>
        <br>
        <input type="text" name="unitPrice" value="<%- content.unitPrice  %>">

    </div>

    <div style="margin-top:15px">

        <label>Stoktaki Ürün Miktarı</label>
        <br>
        <input type="text" name="unitInStock" value="<%- content.unitInStock  %> ">
        
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Aksesuar Güncelle</button>
    </div>
</form>